body {
    background-color: azure;
    margin-top: 0;
    
}


h1{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 70px;
color: black;
text-align: left;
border-bottom: solid;
border-bottom-color: orangered;

}

p1{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    
} 



footer {
     width: auto;
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
  }

  h3 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
text-align: center;

  }

p2 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  

  .fa:hover {
    opacity: 0.7;
  }
  
 
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
      background: coral;
      color: white;

  }