body {
    background-color: azure;
    
}

p1 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;

}

h2{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 60px;
text-align: center;
text-transform: uppercase;

}

/*styling the testimonials*/
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
  }

  /*styling the footer*/
footer {

    width: auto;
   position: relative;
   bottom: 0;
   text-align: center;
   padding: 5px;
   background-color: black;
   color: white;
 }

 h3 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
text-align: center;

 }

p2 {

   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 14px;
   text-align: center;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 50px;
}

.fa {
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
 }
 

 .fa:hover {
   opacity: 0.7;
 }
 

 
 
 .fa-facebook {
   background: #3B5998;
   color: white;
 }
 
 
 
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }

 .fa-instagram {
     background: coral;
     color: white;

 }